<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Violet | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	
    
    <div>
        <table class='shopping-jh2'>
            <tr>
               <th colspan="2" class='bottom-jh'>
                    <h4>쇼핑백</h4>
                    <hr/>
               </th>
            </tr>
            <tr>
                <td >
                    상품정보
                </td>
                <td>
                    <label>asdfasdf</label>
                </td>
            </tr>
            <tr>
                <td >
                    배송비
                </td>
                <td>sfdsadfa</td>
            </tr>
            <tr>
                <td >
                    세금
                </td>
                <td>asdfsafs</td>
            </tr>
            <tr>
                <td>
                    합계금액
                </td>
                <td>asfsadf</td>
            </tr>
        </table>
    </div>
    <div class="container">
        <label><a href='*' class='jh-a'>장바구니로 돌아가기</a></label>
        <div>
           <label style="font-size: 10px">*항목은 필수입력사항입니다.</label><hr/>
            <table  class='contact-form1'>
                <tr class='tr'>
                    <td>
                        <input type="text" placeholder="이름(성제외)*"/>
                        <input type="text" placeholder="성*"/>
                    </td>
                </tr>
                
                <tr class='tr'>
                    <td>
                        <input class='wnth' type="text" placeholder="주소">
                    </td>
                    <td>
                        <button class="small-button2">우편번호 검색</button>
                    </td>
                </tr>
                <tr class='tr'>
                   <td>
                       <input class='wnth' type="text" placeholder="상세주소"/>
                   </td>   
                </tr>
                <tr class='tr'>
                   <td colspan="2">
                        <label>개인정보의 수집 및 이용에 대한 동의(필수)*</label>
                        <input type="checkbox"/>       
                   </td>
                </tr>
                <tr class='tr'>
                    <td>
                       <input type="radio" name='radio' checked="checked"/>
                        <label>집으로 배송받기</label>
                
                        <input type="radio" name='radio'/>
                        <label>가까운 매장픽업</label>
                    </td>
                </tr>
            </table>
            <hr/>
            <table>
            <tr>
               <td>
                <label style="font-size: 30px">결제 방법 선택</label> 
                   <br/><br/>
                </td>
            </tr>
            <tr>
               <td>
                <label>신용카드</label>
                <input type="radio" name="money"/>
                </td>
            </tr>
            <tr>
               <td>
                    <label>계좌이체</label>
                    <input type="radio" name="money"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>무통장 입금</label>
                    <input type="radio" name="money"/>
                </td>
            </tr> 
            </table>
            
            <div>
                <button class="rufwp">결제하기</button>
                 <hr/>
            </div>
        </div>
        
        
    </div>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>