# Compiled
*.elc
*.class
/Servers/
*.MF
*.properties
java/gurada/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
java/gurada/target/m2e-wtp/web-resources/META-INF/maven/com.javassem/basic/pom.properties

# Packaging
.cask
.classpath
# Backup files
*~

# Undo-tree save-files
*.~undo-tree
/.metadata/
