<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">

	<!-- 게시글 등록하기 -->
	<insert id="insertBoard" parameterType="board">
	
	insert into QNA(QNA_NO,WRITTER,PASSWORD,READ_COUNT,WRITTEN_DATE,CONTENTS,TITLE)
	values(seq_qna_no.nextval, #{writter}, #{password} ,0,sysdate,#{contents},#{title} )
	
	</insert>

	<!-- 게시판 목록보기 -->
	 <select id="getBoardList" resultType="board">
		<![CDATA[
		SELECT QNA_NO, WRITTER,TO_CHAR(WRITTEN_DATE, 'YYYY-MM-DD')as WRITTEN_DATE ,TITLE FROM qna ORDER BY TO_NUMBER(QNA_NO) DESC
		]]>
	</select>
	
	<!-- 게시글 내용 보기 -->
	<select id="getBoard"  parameterType="board" resultType="board">
		<![CDATA[
		SELECT *
		FROM qna
		WHERE QNA_NO = #{qnaNo}
		]]>
	</select>
	
	<!-- 글 목록 총 갯수 -->
 	<select id="getBoardCount" parameterType="board" resultType="int">
			SELECT COUNT(*)
				FROM qna
			<if test="title!=null"> <!---->
 				WHERE TITLE like '%'||#{title}||'%'
 			</if>
 			<if test="writter!=null"><!---->
 				WHERE WRITTER like '%'||#{writter}||'%'
 			</if>
 	</select>
 	
 	<!-- Boardlist paging 처리 -->
 	<select id="getBoardListPaging" parameterType="hashmap" resultType="board">
 		
 				SELECT * FROM(SELECT ROWNUM RN, A.* 
 								FROM (SELECT QNA_NO, WRITTER,TO_CHAR(WRITTEN_DATE, 'YYYY-MM-DD')as WRITTEN_DATE ,TITLE 
 										FROM qna 
  				<if test="BoardVO.title!=null"> <!---->
 										WHERE TITLE like '%'||#{BoardVO.title}||'%'
 				</if>
 				<if test="BoardVO.writter!=null"><!---->
 										WHERE WRITTER like '%'||#{BoardVO.writter}||'%'
 				</if>						
 										ORDER BY TO_NUMBER(QNA_NO) DESC
 									  ) A
 							  )
    			WHERE RN BETWEEN #{PagingVO.start} AND #{PagingVO.end}
 		
 		
 	</select>
 	
 	<!-- 게시글 삭제하기 -->
 	<delete id="deleteBoard" parameterType="board">
 	
 		delete from QNA where QNA_NO =${qnaNo} and PASSWORD =${password}
 		
 	</delete>
 	
 	<!-- 게시글 수정 -->
 	<update id="updateBoard" parameterType="board">
 	
 	update QNA set title =#{title}, CONTENTS =#{contents} where QNA_NO =#{qnaNo} and PASSWORD=#{password}
 	</update>
</mapper>