<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BoardDAO">


	<insert id="insertBoard" parameterType="board">
	
	insert into QNA(QNA_NO,WRITTER,PASSWORD,READ_COUNT,WRITTEN_DATE,CONTENTS,TITLE)
	values(seq_qna_no.nextval, #{writter}, #{password} ,0,sysdate,#{contents},#{title} )
	
	</insert>

	 <select id="getBoardList" resultType="board">
		<![CDATA[
		SELECT QNA_NO, WRITTER,TO_CHAR(WRITTEN_DATE, 'YYYY-MM-DD')as WRITTEN_DATE ,TITLE FROM qna ORDER BY TO_NUMBER(QNA_NO) DESC
		]]>
	</select>
	
	
	<select id="getBoard"  parameterType="board" resultType="board">
		<![CDATA[
		SELECT *
		FROM qna
		WHERE QNA_NO = #{qnaNo}
		]]>
	</select>
	
 	<select id="getBoardCount" resultType="int">
 		<![CDATA[
			SELECT COUNT(*)
			FROM qna
		]]>
 	</select>
 	
 	<!-- Boardlist paging 처리 -->
 	<select id="getBoardListPaging" parameterType="hashmap" resultType="board">
 		<![CDATA[
 				SELECT * FROM(SELECT ROWNUM RN, A.* 
 								FROM (SELECT QNA_NO, WRITTER,TO_CHAR(WRITTEN_DATE, 'YYYY-MM-DD')as WRITTEN_DATE ,TITLE 
 										FROM qna ORDER BY TO_NUMBER(QNA_NO) DESC
 									  ) A
 							  )
    			WHERE RN BETWEEN #{PagingVO.start} AND #{PagingVO.end}
 		]]>
 		
 	</select>
</mapper>