<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gurada.ProductMapper">
<!-- 	mybatis 자료형 int / hashmap / string 전부 소문자 -->
	
	<insert id="insert" parameterType="product">
		Insert into 	product	(product_id, name, p_size, price, 
								 detail, gender, category_id,
								 receipt_date, quantity , pfname ,pfsize
								 )
		 				values (seq_productid_no.nextval, #{name}, #{pSize},
		 				 		#{price}, #{pDetail}, #{gender},
		 				 		#{categoryId}, sysdate, #{quantity} , #{pfname} , #{pfsize}
		 				 		)
	</insert>
	
	<select id="select" parameterType="product" resultType="product">
		select name, price, p_size 
		from product
		where gender = #{gender} and category_id= #{categoryId} and name=#{name}
	</select>
	
	<select id="selectList" parameterType="product" resultType="product">
		SELECT * 
			FROM product
				WHERE	category_id=#{categoryId} AND gender=#{gender}	
	</select>
</mapper> 